body {
  font-family: Arial;
  padding:0;
  margin:0;
  font-size: 9px; 
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
}
.wrapper {
  border: 1px solid #000;
  padding:10px;
  margin-bottom: 10px;
}
.allcaps {
  text-transform: uppercase;
}
.label {
  color:#000;
  text-transform: uppercase;
  text-decoration: underline;
}
.detail {
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
}
table td {
  vertical-align: middle;
  padding: 3px;
}
.border-bottom td {
  border-bottom: 1px solid #000;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
th {
	font-size: 10px;
}
td {
	font-size: 10px;
}
.signature {
  border-top:1px solid #000;
  text-align: center;
  margin: 40px auto 0;
  font-weight: bold;
}
.header-label {
  margin: 0 0 20px 0;
  border-bottom: 1px solid #000;
  padding: 10px;
  background-color: #EEE;
}
.header-label small {
	font-weight: normal;
}
.total {
  font-weight: bold;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align:center;
}
body#payroll_print table td {
	border-bottom: 1px solid #CCC;
}
tr.overalltotal {
	background-color: #EEE;
}
tr.overalltotal td {
	padding: 5px;
}
tr:hover{
  background: #DDD;
}
.bold {
	font-weight: bold;
}
.not-bold {
  font-weight: 400;
}
.transaction {
  text-align: left;
}
.transaction-amount {
  text-align: right;
}
.pull-right {
  float: right;
}
.underlined {
  text-decoration: underline;
}
a.no-link {
  text-decoration: none;
  color:#000;
}
@media print {
	a[href]:after{
		content:none
	}
}

.header-title {
  margin-bottom: 10px;
}

.payroll .table {
  margin-top: 10px;
}
.payroll .table td,
.payroll .table th {
  padding:5px;
}
.period {
  margin-top: 10px;
}

.signatories table td {
  border:none;
}
.total_net_pay {
  background: #CCC;
  margin-top:10px;
}
.total_net_pay td {
  font-size: 12px;
}
.full-border {
  border:1px solid #000;
}
.padding3 {
  padding: 3px;
}
.padding5 {
  padding: 5px;
}
body#payslip .payslip_box {
    width: 315px;
    min-height: 470px;
    margin-bottom: 10px;
    float:left;
    margin-right:10px;
    padding: 10px;
}
body#payslip .payslip_box.even {
  margin-right: 0px;
}
body#payslip .payslip_box .header-title {
  margin-top:5px;
}

body#payslip .payslip_box .employee-name {
  margin-top:10px;
}

body#payslip .payslip_box .table-details {
  margin-top:5px;
}
.tab1 {
  padding-left:20px;
}
.bigger {
  font-size: 120%;
}
.highlight {
  background: #BBB;
}
body#payslip table td {
  border-bottom: 1px solid #CCC;
  padding: 1px 3px;
}
